.suggestedMovesSuggestedMovesList {
  border-radius: 0.2rem;
  display: flex;
  margin-left: 2rem;
  overflow: hidden;
  width: 100%;
}
.suggestedMovesSuggestedMovesList .suggestedMovesSuggestedWhite {
  background-color:  #e7e6e5;
  border-radius: 0.2rem 0 0 0.2rem;
  color: #4b4847;
  text-align: left;
}
.suggestedMovesSuggestedMovesList .suggestedMovesSuggestedDraw {
  background-color: #bebdb9;
  color: #4b4847;
  text-align: center;
}
.suggestedMovesSuggestedMovesList .suggestedMovesSuggestedBlack {
  background-color: #4b4847;
  border-radius: 0 0.2rem 0.2rem 0;
  color: #e7e6e5;
  text-align: right;
}